@import '../stylus/variables.styl';

@import './fonts.styl';

*{
    margin 0px;
    padding 0px;
    box-sizing : border-box;
}

.link
    color: $color1;
    text-decoration: none;


.wrapper
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 10px;

